* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

h2 {
	color: #bcbbbb;
	/* combining to use shorthand */
	font: bold 200% 'Lato', sans-serif;
	margin-bottom: 10px;
}

h3 {
	color: #747704;
	font: bold 200% 'Lato', sans-serif;
	/* in order to use shorthand all 4 values are needed, so leaving this as separate */
	margin-top: 10px;
	margin-bottom: 5px;
	
}

h4 {
	color: #747704;
	font: bold 125% 'Lato', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
}

h5 {
	color: #bcbbbb;
	font-size: 75%;
	margin-top: 5px;
}

.full-circle {
	 background-color: rgba(204, 0, 102, 0);
	 border: 10px solid #ef6518;
	 height: 110px;
	 width: 110px;
	 -moz-border-radius: 75px;
	 -webkit-border-radius: 75px;
	 margin-top: 20px;
	 margin-bottom: 15px;
}

.udacity-logo {
	width: 90px;
    height: auto;
}

.right-text {
	text-align: right;
}

.medium-border {
	border-style: solid;
    border-width: 5px;
}
